<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants>
		<grant name="list_access" default="member">
			<title xml:lang="ko">이용제한 기록 열람</title>
			<title xml:lang="en">View restriction records</title>
		</grant>
	</grants>
	<actions>
		<!-- Admin view actions -->
		<action name="dispBlockmanAdminConfig" class="Controllers\Admin" admin_index="true" menu_name="blockman" menu_index="true" />
		<action name="dispBlockmanAdminList" class="Controllers\Admin" menu_name="blockman" />
		<action name="dispBlockmanAdminAction" class="Controllers\Admin" />

		<!-- Admin controller actions -->
		<action name="procBlockmanAdminInsertBan" class="Controllers\Admin" />
		<action name="procBlockmanAdminReleaseBan" class="Controllers\Admin" />
		<action name="procBlockmanAdminSaveConfig" class="Controllers\Admin" />

		<!-- Frontend view actions -->
		<action name="dispBlockmanList" class="Controllers\Index" index="true" permission="list_access" />
		<action name="dispBlockmanDetail" class="Controllers\Detail" permission="list_access" />
	</actions>
	<eventHandlers>
		<eventHandler after="document.declaredDocument" class="Controllers\EventHandlers" method="onAfterDeclareDocument" />
		<eventHandler after="comment.declaredComment" class="Controllers\EventHandlers" method="onAfterDeclareComment" />
		<eventHandler before="document.insertDocument" class="Controllers\EventHandlers" method="onBeforeInsertDocument" />
		<eventHandler before="comment.insertComment" class="Controllers\EventHandlers" method="onBeforeInsertComment" />
	</eventHandlers>
	<menus>
		<menu name="blockman">
			<title xml:lang="ko">이용제한 관리</title>
			<title xml:lang="en">Block Management</title>
		</menu>
	</menus>
</module>
